@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: "KoHo", sans-serif;
}

.pattern-backg {
    background-image: url("../img/pattern.png");
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: .25;
}

/* START -------------------------------------------------- Nav Style */
nav ul {
    margin: 0;
    padding-top: 10px;
}

nav li {
    padding-top: 15px;
    padding-right: 6vw;
}

li a {
    font-size: 35px;
    text-decoration: none;
    color: black;
}

.logo {
    width: 145px;
    margin-left: 15px;
    margin-top: 5px;
}

.close {
    width: 30px;
    margin: 0 auto;
}

.close hr {
    height: 4px;
    margin: 6px 0;
    color: black;
    opacity: 1;
    border-radius: 30px;
}

.close-class .hr1 {
    display: none;
}

.close-class hr {
    margin: -4px 0 !important;
}

.close-class .hr2 {
    transform: rotate(45deg);
}

.close-class .hr3 {
    transform: rotate(-45deg);
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

/* Nav Style ---------------------------------------------------- END */


/* START -------------------------------------------------- Hero section style */
.search {
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 62vh;
}

.spinnin-food {
    margin: 0 auto;
    padding-top: 169px;
}

.spinnin-food h1 {
    font-weight: 600;
    text-align: center;
    padding-left: 9%;
}

.food-window {
    display: inline-block;
    width: 150px;
    height: 25px;
    overflow: hidden;
}

.big-span {
    font-size: 20px;
    display: inline-block;
    animation-name: rotate-food;
    animation-duration: 2.6s;
    transform: translate(0, -150px);
    line-height: 25px;
    animation-timing-function: linear;
    margin-top: 2px;
}

@keyframes rotate-food {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, -150px);
    }
}


.nxt-meal {
    transform: translate(-150px, 105px);
    display: inline-block;
    font-weight: 400;
    animation-name: move-up;
    animation-duration: 1.3s;
    animation-delay: 2.6s;
    animation-fill-mode: forwards;
}

@keyframes move-up {
    100% {
        transform: translate(-150px, 0);
    }
}

.spinnin-food input {
    width: 40%;
    margin: 0 auto;
    border-radius: 20px;
    display: block;
    border: none;
    width: 334px;
}

/* Hero section style ---------------------------------------------------- END */