@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: "KoHo", sans-serif;
}

.pattern-backg {
    background-image: url("../img/pattern.png");
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: .25;
}

/* START ----------------------------------------------------------- Nav Style */
.navbar {
    justify-content: center;
}

nav ul {
    margin: 0;
    padding-top: 10px;
}

nav li {
    padding-top: 15px;
    padding-right: 6vw;
}

li a {
    font-size: 35px;
    text-decoration: none;
    color: black;
}

.logo {
    width: 110px;
    margin-left: 15px;
    margin-top: 5px;
}

.close {
    width: 30px;
    margin: 65px auto 0;

}

.close hr {
    height: 4px;
    margin: 6px 0;
    color: #464950;
    opacity: 1;
    border-radius: 30px;
}

.close-class .hr1 {
    display: none;
}

.close-class hr {
    margin: -4px 0 !important;
}

.close-class .hr2 {
    transform: rotate(45deg);
}

.close-class .hr3 {
    transform: rotate(-45deg);
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

.navbar-nav {
    text-align: center;
}

/* Nav Style ------------------------------------------------------------- END */


/* START -------------------------------------------------- Hero section style */
.search {
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 64vw;
    margin-top: 20px;
}

.spinnin-food {
    margin: 0 auto;
    padding-top: 21vw;
}

.spinnin-food h1 {
    font-weight: 600;
    text-align: center;
    margin-left: 144px;
}

.food-window {
    display: inline-block;
    width: 150px;
    height: 25px;
    overflow: hidden;
}

.big-span {
    font-size: 30px;
    display: inline-block;
    animation-name: rotate-food;
    animation-duration: 2.6s;
    transform: translate(0, -154px);
    line-height: 25px;
    animation-timing-function: linear;
    margin-top: 2px;
    color: black;
}

@keyframes rotate-food {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, -154px);
    }
}


.nxt-meal {
    transform: translate(-150px, 85px);
    display: inline-block;
    font-weight: 400;
    animation-name: move-up;
    animation-duration: 1.3s;
    animation-delay: 2.6s;
    animation-fill-mode: forwards;
    border-radius: 30px;
    background-color: #ffffff40;
    padding: 0 4px;
}

@keyframes move-up {
    100% {
        transform: translate(-150px, 0);
        background-color: transparent;
        border-radius: none;
    }
}

.spinnin-food input {
    width: 40%;
    margin: 0 auto;
    border-radius: 20px;
    display: block;
    border: none;
    max-width: 334px;
    min-width: 162px;
}

/* Hero section style ---------------------------------------------------- END */

/* START -------------------------------------------------------------- Top 10 */

.top10 {
    height: 300px;
    margin-top: 75px;
}

/* Headline style */
.controls {
    line-height: .85;
    background-color: #f6f6f6;
}

.headline {
    width: fit-content;
}

#top {
    font-size: 77px;
    color: #b4d857;
}

#recipes {
    font-size: 38px;
    font-weight: 300;
}

#ten {
    font-size: 123px;
    line-height: 95px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #f78071;
    font-weight: 200;
    letter-spacing: -5px;
}

#of-week {
    text-align: end;
    font-size: 26px;
    font-weight: 200;
    line-height: 32px;
}

/* Carousel style */
.carousel {
    overflow: hidden;
    height: 600px;
}

.car-row {
    position: relative;
    flex-direction: row;
    width: 4000px;
    z-index: -1;
    left: 0;
}

.arrow div {
    font-size: 30px;
    width: fit-content;
}

.left {
    background-color: red;
    margin-bottom: 20px;
}

.right {
    background-color: blue;
}

/* Top 10 ---------------------------------------------------------------- END */

/* START --------------------------------------------------------- Media query */

@media only screen and (max-width: 555px) {
    .food-window {
        position: absolute;
        top: 137px;
    }

    .food-window span {
        padding-right: 26px;
    }

    .big-span {
        font-size: 22px;
    }

    .spinnin-food h1 {
        margin-left: 0;
    }

    .nxt-meal {
        transform: translate(0, 72px);
        display: inline-block;
        font-weight: 400;
        animation-name: move-up-sm;
        animation-duration: 1.3s;
        animation-delay: 2.6s;
        animation-fill-mode: forwards;
        border-radius: 30px;
        background-color: #ffffff40;
        padding: 0 4px;
    }

    @keyframes move-up-sm {

        100% {
            transform: translate(0, 0);
            background-color: transparent;
            border-radius: none;
        }
    }
}

@media only screen and (min-width: 768px) {
    .logo {
        width: 100px;
        margin-left: 15px;
    }

    li a {
        font-size: 3.5vw;
    }

    nav li {
        padding-right: 4vw;
    }
}

@media only screen and (min-width: 900px) {
    .search {
        height: 586px;
    }

    .spinnin-food {
        padding-top: 169px;
    }
}

@media only screen and (min-width: 1028px) {
    .logo {
        width: 145px;
        margin-left: 0;
    }

    li a {
        font-size: 35px;
    }

    nav li {
        padding-right: 6vw;
    }
}

@media only screen and (min-width: 1500px) {
    li a {
        font-size: 45px;
    }
}

@media only screen and (min-width: 2000px) {
    li a {
        font-size: 2vw;
    }
}

/* Media query ----------------------------------------------------------- END */