@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: "KoHo", sans-serif;
}

.pattern-backg {
    background-image: url("../img/pattern.png");
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: .25;
}

.theme2 {
    background-image: url("../img/pasta.png");
    opacity: .15;
}

.theme3 {
    background-image: url("../img/bread.png");
    opacity: .15;
}

.theme-picker {
    width: 55px;
    height: 55px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-image: url("../img/theme.png");
    background-size: contain;
    opacity: .6;
}

.theme-picker:hover {
    opacity: 1;
    cursor: pointer;
}

/* START ----------------------------------------------------------------- Nav */

.navbar {
    justify-content: center;
}

nav ul {
    margin: 0;
    padding-top: 10px;
    width: 100%;
}

nav li {
    padding-top: 15px;
}

li a {
    font-size: 35px;
    text-decoration: none;
    color: black;
}

.dropdown-menu {
    background-color: #f6f6f6;
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
}

.dropdown-menu a {
    font-size: 25px;
}

.logreg {
    line-height: 23px;
    max-width: 135px;
}

.logo {
    width: 110px;
    margin-left: 15px;
    margin-top: 5px;
}

.close {
    width: 30px;
    margin: 65px auto 0;
}

.close hr {
    height: 4px;
    margin: 6px 0;
    color: #464950;
    opacity: 1;
    border-radius: 30px;
}

.close-class .hr1 {
    display: none;
}

.close-class hr {
    margin: -4px 0 !important;
}

.close-class .hr2 {
    transform: rotate(45deg);
}

.close-class .hr3 {
    transform: rotate(-45deg);
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

.navbar-nav {
    text-align: center;
}

.dropdown-toggle {
    user-select: none;
    padding-left: 81px;
}

.dropdown-toggle::after {
    border: 0;
}

.dropdown-toggle img {
    width: 50px;
    transform: rotate(170deg);
    animation-fill-mode: forwards;

}

.original-position {
    animation: original-position;
    animation-duration: .4s;
}

@keyframes original-position {
    0% {
        transform: rotate(275deg);

    }

    100% {
        transform: rotate(170deg);
    }
}

.rotate-spatula {
    animation: rotate-spatula;
    animation-duration: .4s;
}

@keyframes rotate-spatula {
    100% {
        transform: rotate(275deg);
    }
}

.logreg a {
    font-size: 20px;
    display: block;
}

.login {
    border-bottom: 1px solid;
    padding-bottom: 5px;
}

.logreg a:hover {
    font-size: 25px;
}


/* Nav ------------------------------------------------------------------- END */

/* START ---------------------------------------------------------- Add recipe */

.add-recipe form {
    width: 60%;
    max-width: 700px;
    margin: 60px auto 40px;
}

.add-recipe h1 {
    margin-bottom: 15px;
}

#descriptionHelp {
    float: right;
}

.field-add,
.step-add {
    float: right;
}

#remove-ingredient,
#remove-step {
    display: none;
}

/* Add recipe ----------------------------------------------------------- END */


/* START ----------------------------------------------------- Login/register */

.logreg-section {
    width: 60%;
    max-width: 700px;
    margin: 60px auto 40px;
}

.logreg-section h1 {
    text-transform: capitalize;
    margin-bottom: 15px;
}

.logreg-section p {
    margin-top: 10px;
    color: gray;
}

.logreg-section img {
    transform: rotate(-90deg);
    width: 11px;
}

.logreg-section p:hover>img {
    margin-left: 3px;
}

/* Login/register ------------------------------------------------------- END */

/* START ------------------------------------------------------- Hero section */

.search {
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 64vw;
    margin-top: 20px;
}

.spinnin-food {
    margin: 0 auto;
    padding-top: 21vw;
}

.spinnin-food h1 {
    font-weight: 600;
    text-align: center;
    margin-left: 144px;
}

.food-window {
    display: inline-block;
    width: 150px;
    height: 25px;
    overflow: hidden;
}

.big-span {
    font-size: 30px;
    display: inline-block;
    animation-name: rotate-food;
    animation-duration: 2.6s;
    transform: translate(0, -154px);
    line-height: 25px;
    animation-timing-function: linear;
    margin-top: 2px;
    color: black;
}

@keyframes rotate-food {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, -154px);
    }
}


.nxt-meal {
    transform: translate(-150px, 85px);
    display: inline-block;
    font-weight: 400;
    animation-name: move-up;
    animation-duration: 1.3s;
    animation-delay: 2.6s;
    animation-fill-mode: forwards;
    border-radius: 30px;
    background-color: #ffffff40;
    padding: 0 4px;
}

@keyframes move-up {
    100% {
        transform: translate(-150px, 0);
        background-color: transparent;
        border-radius: none;
    }
}

.spinnin-food input {
    width: 40%;
    margin: 0 auto;
    border-radius: 20px;
    display: block;
    border: none;
    max-width: 334px;
    min-width: 162px;
}

/* Hero section ---------------------------------------------------------- END */

/* START -------------------------------------------------------------- Top 10 */

.top10 {
    height: 300px;
    margin-top: 75px;
}

/* Headline style */
.controls {
    line-height: .85;
}

.headline {
    width: fit-content;
}

#top {
    font-size: 77px;
    color: #b4d857;
}

#recipes {
    font-size: 38px;
    font-weight: 300;
}

#ten {
    font-size: 123px;
    line-height: 95px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #f78071;
    font-weight: 200;
    letter-spacing: -5px;
}

#of-week {
    text-align: end;
    font-size: 26px;
    font-weight: 200;
    line-height: 32px;
}

.arrow {
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}

.arrow div img {
    width: 90px
}

.left {
    margin-bottom: 20px;
    display: inline-block;
    transition: transform 250ms;
    margin-right: 20px;
}

.left:hover {
    transform: translateX(-10px);
}

.right {
    display: inline-block;
    transition: transform 250ms;
}

.right:hover {
    transform: translateX(10px);
}

/* Carousel style */
.carousel {
    overflow: hidden;
    height: 490px;
}

.car-row {
    position: relative;
    flex-direction: row;
    width: 3500px;
}

.card-body span {
    margin-right: 7px;
    border-bottom: 2px solid gray;
}

.car-row .card {
    height: 476px;
    border-radius: 25px;
    width: 286px !important;

}

.card {
    overflow: auto;
}

.car-row .card-img,
.car-row .card-img-top {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/* Top 10 ---------------------------------------------------------------- END */

/* START --------------------------------------------------------------- Footer */

footer {
    margin-top: 470px;
    height: 200px;
}

footer h1 {
    font-size: 35px;
}

.about>* {
    display: inline-block;
}

.about img {
    width: 25px;
    margin-top: 10px;
}

.about p {
    opacity: 0;
    max-width: 600px;
    display: block;
    user-select: none;
}

.about:hover>img {
    opacity: 0;
    margin-top: 20px;
    transition: all 100ms;
}

.about:hover>p {
    opacity: 1;
    transition: opacity 400ms;
    cursor: none;
}

.connect {
    text-align: center;
    margin-bottom: 45px;
}

.connect h1 {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
}

.social img {
    width: 60px;
}

.social img:hover {
    width: 75px;
    margin-top: -7px;
    transition: all 200ms ease-out;
}

/* Footer ----------------------------------------------------------------- END */


/* START --------------------------------------------------------- Categories */

/* Filtering  */
.filter {
    height: 100px;
    background-color: #f6f6f6;
    border-radius: 20px;
    padding-left: 30px;
}

.filter h1 {
    font-size: 30px;
}

/* Category cards */
.categories {
    margin-top: 50px;
}

.flex {
    display: flex;
    overflow: hidden;
    flex-wrap: no-wrap;
}

.flex-expand {
    flex-wrap: wrap;
    justify-content: end;
}

.categories h1 {
    text-transform: capitalize;
}

.categories hr {
    width: 96%;
    margin-left: 2%;
    height: 4px;
    border-radius: 30px;
}

.flex .card {
    margin-right: 30px;
    min-width: 286px;
    max-width: 286px;
    margin-bottom: 45px;
    height: 476px;
}

/* Expand btn */
.expand {
    border-radius: 20px;
    padding: 0;
    text-align: center;
    height: 475px;
    cursor: pointer;
    max-width: 60px;
    background-color: white;
    box-shadow: -6px 1px 11px 2px;
    z-index: 1;
    opacity: .7;
}

.expand span {
    display: inline-block;
    width: 14px;
    word-break: break-all;
    font-size: 25px;
    line-height: 27px;
    text-transform: uppercase;
    padding-top: 165px;
}

#span2 {
    margin-top: -40px;
}

.hide-span {
    display: none !important;
}

.expand img {
    width: 22px;
    display: block;
    margin: 13px auto;
}

.rotate-expand {
    transform: rotate(180deg);
}

/* Categories ----------------------------------------------------------------- END */


/* START --------------------------------------------------------- Recipe */

.recipe h1 {
    text-align: center;
    font-weight: 300;
}

.recipe hr {
    width: 90%;
    margin: 0 auto;
    height: 2px;
}

.recipe-img-col {
    text-align: end;
}

.recipe-img-col img {
    margin: 40px auto;
    width: 400px;
}

.rec-description {
    margin: 40px auto;
}

.recipe p {
    font-size: 27px;
    max-width: 400px;
    padding-left: 10px;
    margin-bottom: 0px;
}

#prep-time {
    max-width: 600px;
}

.ingredients-img {
    width: 90px;
    float: right;
    cursor: pointer;
    margin-right: 11%;
}

.ingredient-list {
    border: 1px solid;
    border-radius: 26px;
    max-width: 413px;
    font-size: 20px;
}

.description-p {
    margin-top: 30px;
}

.hidden {
    display: none;
}

/* Rating */
#rating {
    width: fit-content;
    font-size: 20px;

}

#rating img {
    width: 35px;
    margin: 0;
    padding: 10px 8px 10px 0;
}

.disable-rating-hover {
    pointer-events: none;
}

.disable-submit {
    display: none;
}

#form-rating {
    visibility: hidden;
}

.rec-description button {
    border: 1px solid;
    border-radius: 5px;
    margin-left: 10px;
}

.flashes {
    display: inline-block;
    width: 100%;
}

.flashes p {
    font-size: 20px;
    width: fit-content;
    margin: 20px auto;
    background-color: rgb(147, 204, 147);
    padding: 10px;
    border-radius: 10px;
}

/* Steps */

.steps h1 {
    font-size: 32px;
    width: 68%;
    text-align: start;
    font-weight: 500;
    margin: 40px auto 20px;
}

.steps p {
    max-width: 70%;
    margin: 20px auto;
}

.ingredient-list img {
    width: 27px;
    margin: 10px 10px 0 0;
    float: right;
    cursor: pointer;
}



/* Recipe ----------------------------------------------------------------- END */


/* START --------------------------------------------------------- Media query */

@media only screen and (max-width: 480px) {
    .car-row .card {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 555px) {
    .food-window {
        position: absolute;
        top: 137px;
    }

    .food-window span {
        padding-right: 26px;
    }

    .big-span {
        font-size: 22px;
    }

    .spinnin-food h1 {
        margin-left: 0;
    }

    .nxt-meal {
        transform: translate(0, 72px);
        display: inline-block;
        font-weight: 400;
        animation-name: move-up-sm;
        animation-duration: 1.3s;
        animation-delay: 2.6s;
        animation-fill-mode: forwards;
        border-radius: 30px;
        background-color: #ffffff40;
        padding: 0 4px;
    }

    @keyframes move-up-sm {

        100% {
            transform: translate(0, 0);
            background-color: transparent;
            border-radius: none;
        }
    }
}

@media only screen and (max-width: 575px) {
    .expand {
        width: 80%;
        height: 42px;
        max-width: initial;
        margin: 0 auto;
        box-shadow: 0px 0px 11px 2px;
    }

    .expand span {
        padding-top: 0;
        width: auto;
        word-break: initial;
        margin-top: 5px !important;

    }

    .expand img {
        margin: 0;
        display: initial;
        margin-left: 5px;
    }
}

@media only screen and (max-width: 715px) {
    .flex-expand {
        justify-content: center;
    }
}

@media only screen and (max-width: 767.9px) {
    .logreg {
        width: 25%;
        margin: 0 auto;
    }

    .top10 {
        margin-bottom: 474px;
    }

    .recipe-img-col {
        text-align: center;
    }

    .steps p {
        max-width: 90%;
    }

    .steps h1 {
        text-align: center;
        width: auto;
        margin-top: -6px;
    }

    .rec-description {
        width: 370px;
    }

    .recipe-img-col img {
        width: auto;
        margin-bottom: 0;
    }

    .rec-description>* {
        margin-left: 7%;
    }

    .rec-description button {
        margin-left: 9%;
    }

    .ingredients-img {
        right: 8px;
        width: 72px;
        margin-right: 8px;
    }

    .ingredient-list {
        margin-right: 0;
        max-width: 300px;
    }

    .recipe p {
        font-size: 23px;
        padding-left: 0;
    }

    footer {
        margin-top: 0;
    }


}

@media only screen and (min-width: 768px) {
    .logo {
        width: 100px;
        margin-left: 15px;
    }

    li a,
    footer h1 {
        font-size: 3.5vw;
    }

    .dropdown-toggle {
        padding-left: 0;
    }

    footer {
        margin-top: 240px;
    }
}

@media only screen and (min-width: 900px) {
    .search {
        height: 586px;
    }

    .spinnin-food {
        padding-top: 169px;
    }
}

@media only screen and (min-width: 1028px) {
    .logo {
        width: 145px;
        margin-left: 0;
    }

    li a,
    footer h1 {
        font-size: 35px;
    }

}

@media only screen and (min-width: 1500px) {

    li a,
    footer h1 {
        font-size: 45px;
    }

    .login {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 2000px) {

    li a,
    footer h1 {
        font-size: 2vw;
    }
}

/* Media query ----------------------------------------------------------- END */