{% extends "base.html" %}
{% block content %}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 filter">
                <h1>Categories</h1>
                <h1>Stars</h1>
            </div>
            <div class="col-12 categories">
                <div class="row">
                    {% for category in categories %}
                    <h1>{{category}}</h1>
                    <hr>
                    <div class="col-12 col-sm-11 flex" id="{{category}}">

                        {% for recipe in recipes %}
                        {% if category == recipe.category %}
                        <div class="card" style="width: 18rem;">
                            <img src="{{recipe.img}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{recipe.name}}</h5>
                                <p class="card-text">{{recipe.description|truncate(90)}}</p>
                                <a href="#" class="btn btn-primary">See recipe</a>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class=" col-12 col-sm-1 expand">
                        <span id="span1">expand</span>
                        <span class="hide-span" id="span2">collapse</span>
                        <img src="../static/img/expand.png" alt="">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}