{% extends "base.html" %}
{% block content %}
<section class="search">
    <div class="spinnin-food">
        <h1>Find your <div class="food-window">
                <span aria-hidden="true" class="big-span">pizza <br> pasta <br> soup <br> chilli <br> hamburger
                    <br> salad</span>
            </div><span class="nxt-meal">next meal</span></h1>
        <input type="search" role="search" aria-label="Find recipes">
    </div>
</section>
<section class="container-fluid top10" id="top10">
    <div class="row">
        <div class="controls col-12 col-md-5 col-lg-4">
            <div class="container-fluid headline">
                <div class="row g-0">
                    <div class="col">
                        <div class="col" id="top">
                            <span>TOP</span>
                        </div>
                        <div class="col" id="recipes">
                            <span>RECIPES</span>
                        </div>
                    </div>
                    <div class="col" id="ten">
                        <span>10</span>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col" id="of-week">
                        <span>of the week</span>
                    </div>
                </div>
            </div>
            <div class="arrow">
                <div class="left"><img src="../static/img/left-arrow.png" alt="Left arrow"></div>
                <div class="right"><img src="../static/img/right-arrow.png" alt="Right arrow"></div>
            </div>
        </div>
        <div class="carousel col-12 col-md-7 col-lg-8">
            <div class="row car-row">
                {% for recipe in recipes %}
                <div style="order:{{loop.index}};" class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="{{recipe.img}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><span>{{loop.index}}</span>{{recipe.name}}</h5>
                            <p class="card-text">{{recipe.description|truncate(90)}}</p>
                            <a href="{{url_for('recipe', name=recipe.name)}}" class="btn btn-primary">See
                                recipe</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}