{% extends "base.html" %}
{% block content %}
<section class="logreg-section">
    <h1>{{page}}</h1>
    <form class="logreg-form" method="POST">
        {% if page == "register" %}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" maxlength="30" id="name">
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username*</label>
            <input type="text" class="form-control" name="username" minlength="5" maxlength="20" id="username" required>
        </div>
        {% endif %}
        <div class="mb-3">
            <label for="email" class="form-label">Email address{% if page == "register" %}*{% endif %}</label>
            <input type="email" class="form-control" name="email" id="email" maxlength="40" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password{% if page == "register" %}*{% endif %}</label>
            <input type="password" class="form-control" name="password" id="password" minlength="6" maxlength="20"
                required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if page == "register" %}
    <p>Already have an account? <a href="{{url_for('logReg', page= 'login')}}">Log in</a> <img
            src="../static/img/expand.png" alt=" arrow right"></p>
    {% endif %}
</section>
{% endblock %}