{% extends "base.html" %}
{% block content %}
<div class="container-fluid" id="profile-page">
    <div class="row">
        <div class="col-md-2 icon-picker">
            <h1>Profile icon</h1>
            <div class="hide-scroll">
                <div class="profile-icon">
                    <img src="../static/img/profile-icons/profile2.png" alt="chef icon">
                    <img src="../static/img/profile-icons/profile3.png" alt="chef icon">
                    <img src="../static/img/profile-icons/profile4.png" alt="chef icon">
                    <img src="../static/img/profile-icons/profile6.png" alt="chef icon">
                    <img src="../static/img/profile-icons/profile1.png" alt="chef icon">
                    <img src="../static/img/profile-icons/profile8.png" alt="chef icon">
                    <img src="../static/img/profile-icons/profile9.png" alt="food icon">
                    <img src="../static/img/profile-icons/profile7.png" alt="dino-chef icon">
                    <img src="../static/img/profile-icons/profile5.png" alt="cooking icon">
                </div>
            </div>
        </div>
        <form class="profile-details  col-md-6 ">
            <h1>Update details</h1>
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" value="{{user.name}}" class="form-control" name="name" maxlength="30" id="name">
                </div>
                <div class="col-sm-6 mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" value="{{user.username}}" class="form-control" name="username" minlength="5" maxlength="20" id="username"
                        required>
                </div>
                <div class="col-sm-6 mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" value="{{user.email}}" class="form-control" name="email" id="email" maxlength="40" required>
                </div>
                <div class="col-sm-6 mb-3">
                    <label for="password" class="form-label">New password</label>
                    <input type="password" class="form-control" name="password" id="password" minlength="6" maxlength="20">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <div class="col-md-2">
            <div class="row saved-posted">
                <div class="col-6  col-md-12">
                    <h1><a href="">Saved recipes <img src="../static/img/heart.png" alt=""></a></h1>
                </div>
                <div class="col-6  col-md-12">
                    <h1><a href="">Posted recipes <img src="../static/img/edit.png" alt=""></a></h1>
                </div>
                <div class="col-6 col-md-12">
                    <h1><a href="{{url_for('logOut')}}">Log out<img id="logout" src="../static/img/logout.png" alt="log out icon"></a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}