{% extends "base.html" %}
{% block content %}
<h1>Profile icon</h1>
<div class="hide-scroll">
    <div class="profile-icon">
        <img src="../static/img/profile-icons/chef-hat.png" alt="">
        <img src="../static/img/profile-icons/profile1.png" alt="">
        <img src="../static/img/profile-icons/profile2.png" alt="">
        <img src="../static/img/profile-icons/profile3.png" alt="">
        <img src="../static/img/profile-icons/profile4.png" alt="">
        <img src="../static/img/profile-icons/profile5.png" alt="">
        <img src="../static/img/profile-icons/profile6.png" alt="">
        <img src="../static/img/profile-icons/profile7.png" alt="">
        <img src="../static/img/profile-icons/profile8.png" alt="">
        <img src="../static/img/profile-icons/profile9.png" alt="">
    </div>
</div>
{% endblock %}