{% extends "base.html" %}
{% block content %}
<section class="row recipe">
    <div class="col-12">
        <h1>{{recipe.name}}
            {% if session["user"] %}
            {% if full_heart %}
            <img class="saved" src="../static/img/heart.png" alt="save recipe icon">
            {% else %}
            <img class="saved" src="../static/img/heart-empty.png" alt="save recipe icon">
            {% endif %}
            {% endif %}
        </h1>
        <hr>
    </div>
    <div class="recipe-img-col col-12 col-md-6">
        <img src="{{recipe.img}}" alt="{{recipe.name}} image">
    </div>
    <div class="rec-description col-12 col-md-6">
        <p id="prep-time">
            Prep time: {{recipe.prep_time}} {% if recipe.cook_time != "" %}, cook {{recipe.cook_time}} {% endif %}
            <img class="ingredients-img" src="../static/img/ingredients.png" alt="ingredients icon">
        </p>
        {% if session["user"] %}
        <p id="rating" class="disable-rating-hover">
            {% if recipe.rating == -1 %}
            0
            {% else %}
            {{recipe.rating}}
            {% endif %}
        </p>
        <button class="rate">Add rating</button>
        <button id="disable-sub" class="disable-submit" form="form-rating">Submit</button>
        {% endif %}
        <p class="description-p">{{recipe.description}}</p>
        <div class="ingredient-list hidden">
            <img src="../static/img/close.png" alt="close icon">
            <ul>
                {% for ingredient in recipe.ingredients %}
                <li>{{ingredient}}</li>
                {% endfor %}
            </ul>

        </div>
    </div>
    <div class="col-12 steps">
        <h1>Preparation instructions</h1>
        {% for step in recipe.steps %}
        <p>{{loop.index}}. {{step}}</p>
        {% endfor %}
    </div>
    <form id="form-rating" method="POST" action="{{url_for('recipe', name=recipe.name)}}">
        <input name="rated" type="number">
    </form>
    <form id="form-save" method="POST" action="{{url_for('recipe', name=recipe.name)}}">
        <input name="saved" type="number">
    </form>
</section>

{% endblock %}